
.flashCards-container{
    overflow: hidden;
    margin-top: 40px;
    position: relative;

}
.flashCards {
    display: flex;
    gap: 15px;
    transition: transform 0.7s ease-in-out;
  }
.cat-box{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 145px;
    padding: 25px 56px 24px 55px;

    justify-content: center;
    align-items: center;
    gap: 16px;

    border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.30);
}

.cat-box .icon{
    width: 56px;
height: 56px;
flex-shrink: 0;
}
.cat-box .title{
    color: var(--Text2, #000);

/* Title/16PX Regular */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}