.flashSale{
    margin-top: 100px;

  

}
.flashSale .today{
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.flashSale .today .rectangle{
    width: 20px;
    height: 40px;
    background-color: var(--secondary-2);
}
.flashSale .today .title{
    color: var(--secondary-2);
/* Title/16PX Semibold */
font-family: var(--font-poppins);
font-size: var(--baseFontSize);
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */

}
.flashtime{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 87px;
}

.flashtime .title{
    color: var(--Text2, #000);
/* Heading/36PX SemiBold */
font-family: var(--font-inter);
font-size: var(--font-smalllarge);
font-style: normal;
font-weight: 600;
line-height: var(--mediumLineHeight); /* 133.333% */
letter-spacing: 1.44px;
}
.flashtime .time table tr th{
    padding-left: 20px;
    color: var(--Text2, #000);
/* Title/12PX Medium */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */


}
.flashtime .time table tr td{
    padding-left: 20px;

color: var(--Text2, #000);
/* Heading/32PX Bold */
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 93.75% */
letter-spacing: 1.28px;
}
.flashtime .time table tr .redCall{
    color: #E07575;
}
  /* Navigation buttons */
  .nextprev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
  }

.flashCards-container {
    overflow: hidden;
    margin-top: 40px;
    position: relative;
  }
  
  .flashCards {
    display: flex;
    gap: 15px;
    transition: transform 0.7s ease-in-out;
  }
  

  .nextprev .prev,
  .next {
    /* position: absolute; */
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F5F5F5;
    color: black;
    border: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .next {
    right: 0;
  }
  .flashButton{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .button{
    width: 234px;
    height: 56px;
    display: inline-flex;
padding: 16px 48px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--Button2, #DB4444);
  }
  .button a{
    color: var(--Text, #FAFAFA);

/* Title/16PX Medium */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
  }