header{
    width: 100%;
    height: 150px;


    align-items: center;

   
    border-bottom: var(--color-text-2) 2px solid;
}
.topbar{
    display: flex;
    width: 100%;
    height: 48px;
    /* padding: 12px 136px 12px 445px; */
    justify-content:flex-end;
    align-items: center;
    gap: 231px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--color-text-3);
    /* padding-right: 136px; */

}

.topbar div{
    font-size: var( --font-small);
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    color: var(--color-text-1);
    line-height: 21px;
    padding-right: 136px;
    
    
}

.topbar div a{
    font-size: var( --font-small);
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    color: var(--color-text-1);
    line-height: 24px;
    text-decoration-line: underline;
} 

#dropdown{
background-color: black;
color: white;
border: none;

}





/* Navbar.css */
/* .navbar {
    background-color: var(--color-text-1);
    height: 100%;
    width: 100%;
    
    
    
  } */

  
  .navbar-container {
    height: 102px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    /* border-bottom:2px solid var(--color-text-3); */
    
  }
  
  .navbar-brand {
    font-size: var(--font-large);
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    gap: 48px;
  }
  .navbar-nav .nav-item .nav-link{
    font-size: var(--baseFontSize);
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    
    color: var(--color-text-3);
    text-align: center;

  }
  .container-end .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

  }
  .search-input{
    height: 38px;
    width: 243px;
    display: flex;
    padding: 7px 12px 7px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border-radius: 4px;
background: var(--Secondary, #F5F5F5);

  }
  .search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px; /* Adjust the position of the icon */
    top: 50%; /* Center the icon vertically */
    transform: translateY(-50%);
  }
  .search-input::placeholder {
    font-size: 12px;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.5;
    
    color: var(--color-text-3);
    /* text-align: center; */
  }
  .whilistcheckout {
    margin-left: 24px;
    gap: 16px;
  }
  .whilistcheckout .icons{
    width: 32px;
    height: 32px;

  }
  .cart-button {
    /* width: 32px;
    height: 32px; */
    background-color: white;
    /* color: #ffffff; */
    padding: 10px;
    border: none;
    border-radius: 5px;
    /* cursor: pointer; */
    position: relative;
  }
  .icons {
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }
  
  .counter {
    width: 16px;
    height: 16px;
    /* fill: var(--Secondary-2, #DB4444); */
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #e74c3c;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .container-end{
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .dropdown-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 110px;
  top: 120px;
  /* background-color: #e74c3c; */
 
width: 225px;
height: 208px;
padding-right: 1px;
justify-content: center;
align-items: flex-start;

padding: 18px 12px 10px 20px;
justify-content: flex-end;
align-items: center;

border-radius: 4px;
background: rgba(0, 0, 0, 1);

backdrop-filter: blur(75px);
gap: 16px;

color: var(--Text, #FAFAFA);
text-align: center;
/* Title/14PX Regular */


 }
 .dropdown-content div{
  font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
cursor: pointer;
  
 }
 .dropdown-content div:hover{
  background-color: #e74c3c;
 }
  
  .navbar-menu1 {
     display: flex;
    /* align-items: flex-start;  */
 
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* position: absolute; */
    /* top: 60px;
    right: 0; */
    /* background-color: #333; */
    /* width: 100%; */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    /* transform: translateY(-100%);
    transition: transform 0.3s ease-in-out; */
  }
  
  /* .navbar-menu.open {
    transform: translateY(0);
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #ffca28;
  }
  
  .mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .mobile-menu-icon span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px 0;
    display: block;
  }
   */
  /* @media (max-width: 768px) {
    .navbar-menu {
      position: relative;
      top: 0;
      flex-direction: row;
      width: auto;
      box-shadow: none;
      transform: translateY(0);
    }
  
    .navbar-menu.open {
      transform: translateY(0);
    }
  
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .mobile-menu-icon {
      display: flex;
    }
  }
   */
